.WelcomePage {

}

.WelcomePage h1, .WelcomePage h2 {
  text-align: center;
}

.neon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
  padding: 0 20px;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
}

#welcome-header-1 {
  top: 5%;
}

#welcome-header-2 {
  top: 20%;
}

.neon:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
}

.neon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0;
  background: #fe3a80;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
}

.ButtonPanel {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  height: 30%;
  transform: translate(-50%, 0%);
  padding: 0 50px;
  opacity: 1;
}

.PlayHumanButton {
  position: absolute;
  top: 70%;
  left: 25%;
  width: 30%;
  height: 70%;
  transform: translate(-50%, -50%);
  padding: 0 0;
  opacity: 1;
}

.PlayBotButton {
  position: absolute;
  top: 70%;
  left: 75%;
  width: 30%;
  height: 75%;
  transform: translate(-50%, -50%);
  padding: 0 0;
  opacity: 1;
}
